<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="<%= Name %>ServiceURL" value="<%= WebServiceTestUrl %>" />
    <add key="IdentityServerAuthority" value="https://login-dev.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerAuthorityPassword" value="superSecretPassword" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerAuthorityClient" value="webFrameworkOpenIdClient" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerRedirectUri" value="https://<%= Name %>-dev.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerPostLogoutRedirectUri" value="https://apps.dev.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>