<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="<%= Name %>ServiceURL" value="<%= WebServiceProdUrl %>" />
    <add key="SecurityFrameworkUrl" value="http://webservices2.interlinebrands.com:8898/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerAuthority" value="https://login.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerAuthorityPassword" value="superSecretPassword" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerAuthorityClient" value="webFrameworkOpenIdClient" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerRedirectUri" value="https://<%= Name %>.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityServerPostLogoutRedirectUri" value="https://apps.interlinebrands.com/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <log4net>
    <appender xdt:Locator="Match(name)" name="MongoAppender" xdt:Transform="SetAttributes(type)" type="IBI.Plugin.Utilities.Logging.Appenders.MongoAppender">
      <connectionString xdt:Transform="SetAttributes(value)" value="mongodb://frameworkLogUserProd:frameworkLogUserProd@jaxdevibi:27017/frameworklogProd?safe=false" />
    </appender>
  </log4net>
  <applicationSettings xdt:Transform="Replace">
    <IBI.Plugin.Utilities.Cache.Settings>
      <setting name="Expiration" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="RedisConnectionString" serializeAs="String">
        <value>jaxprweb01:7501,jaxprweb02:7501,password=ibiR3dis123!@#</value>
      </setting>
      <setting name="RedisDatabase" serializeAs="String">
        <value>1</value>
      </setting>
    </IBI.Plugin.Utilities.Cache.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="Custom" customProvider="MySessionStateStore" timeout="600" compressionEnabled="true" xdt:Transform="Replace">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="jaxprweb01:7501,jaxprweb02:7501,abortConnect=false,ssl=false,password=ibiR3dis123!@#" />
      </providers>
    </sessionState>
  </system.web>
</configuration>