@model IBI.<%= PluginName %>.Plugin.Models.ViewModels.<%= ControllerName %>.<%= ControllerName %>ViewModel
@{ 
    ViewBag.Title = "<%= ControllerName %>";
    Layout = <%= PluginName %>.LAYOUTPATH;
}

<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 clearfix">
            <h1><i class="fa fa-home fa-3"></i>&nbsp;&nbsp;<%= ControllerName %> <small>Initial page</small></h1>
        </div>
    </div>
</div>