<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=<%= DatabaseProdServer %>;User Id=<%= DatabaseProdUser %>; password=<%= DatabaseProdPassword %>;Database=<%= DatabaseName %>;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <log4net>
    <appender xdt:Locator="Match(name)" name="MongoAppender" xdt:Transform="SetAttributes(type)" type="IBI.Plugin.Utilities.Logging.Appenders.MongoAppender">
      <connectionString xdt:Transform="SetAttributes(value)" value="mongodb://frameworkLogUserProd:frameworkLogUserProd@jaxdevibi:27017/frameworklogProd?safe=false" />
    </appender>
    <root xdt:Transform="Replace">
      <level value="INFO" />
      <!--<appender-ref ref="FileAppender" />-->
      <appender-ref ref="MongoAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>