.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.processing-modal {
    width: 250px;
    height: 250px;
    position: absolute; /*You can use fixed too*/
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    z-index: 1040;
}
.page-footer {
    border-top: 0px !important;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

#content {
    position: initial;
    padding: 0px 0px;
}

    #content.row {
        margin-right: 0px;
        margin-left: 0px;
    }

.fixed-ribbon #content {
    padding-top: 5px !important;
}
.fixed-header #main {
    margin-top: 0px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#left-panel {
    padding-top: 0px !important;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* styles for validation helpers */
.field-validation-error {
   color: #b94a48;
}

.field-validation-valid {
   display: none;
}

select.input-validation-error,
textarea.input-validation-error,
input.input-validation-error {
   border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
   border: 0 none;
}

.validation-summary-errors {
   color: #b94a48;
}

.validation-summary-valid {
   display: none;
}